.MuiListItem-root {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.info:first-letter {
  text-transform:capitalize;
}

/* ICONS */

.icon {
  position:relative;
  padding-right:5px;
}

.list-arrow {
  position:relative;
  top:-1px;
}

.search, .information {
  position:relative;
  top:1px;
}

.list {
  position:relative;
  top:3px;
}

.unlock {
  position:relative;
  top:2px;
  margin-right:4px;
}

.catalog {
  position:relative;
  top:3px;
  margin-right:6px;
}

/* ICONS END */

#catalogTitle {
  margin-right: 50px;
}

.navButtons .MuiButton-root {
  margin-left: 10px;
  color: white;
  border-color: white;
  display:inline;
}

.login-paper {
  padding:20px;
  margin-top:10px;
}

.login-paper div {
  display:block;
  margin-bottom:20px;
}

.login-paper button {
  margin-right:10px;
}

#passwordMessage {
  margin-top:2px;
}

#loginMessage {
  margin-top:10px;
}
